ENV_NAME=testnet
NETWORK_ID=943
PULSE_TESTNET_RPC_URL="https://rpc.v4.testnet.pulsechain.com"
PULSE_MAINNET_RPC_URL="https://rpc.pulsechain.com"
PULSE_MAINNET_RPC_FAILOVER_URL="https://rpc-pulsechain.g4mm4.io"