ENV_NAME=dev
# - ENV_NAME tells telliot-core which contract_directory.<ENV_NAME>.json file to use, "default" uses contract_directory.json
PULSE_TESTNET_RPC_URL="https://rpc.v4.testnet.pulsechain.com"
# - PULSE_TESTNET_RPC_URL is the RPC URL for the "Pulsechain Testnet" entry in the ~/telliot/endpoints.yaml
PULSE_MAINNET_RPC_URL="https://rpc.pulsechain.com"
# - PULSE_MAINNET_RPC_URL is the RPC URL for the "Pulsechain Mainnet" entry in the ~/telliot/endpoints.yaml
PULSE_MAINNET_RPC_FAILOVER_URL="https://rpc-pulsechain.g4mm4.io"
# - PULSE_MAINNET_RPC_FAILOVER_URL is the RPC URL for the "Pulsechain Mainnet Failover Endpoint" entry in the ~/telliot/endpoints.yaml
